body {
  background: #F2FAEC;
}

h1, h2{
  margin: 30px auto;
  text-align: center;
}

.linkToTop{
  color: black;
}
form {
  padding: 15px;
  margin: 0 auto;
  width: 400px;
}

.formToPostTopic {
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}

.formToReply {
  margin-top: 50px;
  border-top: 1px solid black;
}

.inputLabel {
  display: block;
  font-size: 15px;
}

input, textarea {
  margin: 3px 0;
  outline: none;
  font-size: 100%;
  }

.btn {
  display: inline-block;
  margin-left: 20px;
  padding: 0.2em 0.5em;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  background: #4CBD09;
  border-radius: 3px;
}

.btn:hover{
  opacity: 0.8;
}

.posts, .post, .message{
  margin: 0 auto;
  width: 600px;
}

.posts li, .post li, .message li {
  margin: 30px 0;
}

.topicTitle{
  font-size: 20px;
  font-weight: bold;
}

.buttonToReply, .buttonToRemove{
  display: inline;
}



